In [3]:
import pandas as pd

data = pd.read_csv("ASDN_Snow_survey.csv")

In [5]:
data.head()

,Site,Year,Date,Plot,Location,Snow_cover,Water_cover,Land_cover,Total_cover,Observer,Notes
0,barr,2011,2011-05-29,brw1,b10,90.0,0.0,10.0,100.0,adoll,NaN
1,barr,2011,2011-05-29,brw1,b12,100.0,0.0,0.0,100.0,adoll,NaN
2,barr,2011,2011-05-29,brw1,b2,90.0,0.0,10.0,100.0,adoll,NaN
3,barr,2011,2011-05-29,brw1,b4,100.0,0.0,0.0,100.0,adoll,NaN
4,barr,2011,2011-05-29,brw1,b6,95.0,0.0,5.0,100.0,adoll,NaN

In [6]:
data.dtypes

Site            object
Year             int64
Date            object
Plot            object
Location        object
Snow_cover     float64
Water_cover    float64
Land_cover     float64
Total_cover    float64
Observer        object
Notes           object
dtype: object