### Connect to database

In [20]:
%pwd

'/Users/kimmywong/Downloads/EDS_213/bren-eds213-data/database'

In [27]:
import duckdb
import pandas as pd
conn = duckdb.connect("database.db")

In [22]:
cur = conn.cursor()

### Step 1: Create a query that shows scientific names and species code for species with egg data.

In [23]:
cur.execute("""SELECT DISTINCT Code, Scientific_name FROM Species 
    INNER JOIN Bird_nests
    ON Species.Code = Bird_nests.Species
    INNER JOIN Bird_eggs
    ON Bird_eggs.Nest_ID = Bird_nests.Nest_ID
    ORDER BY Scientific_name""")
cur.fetchall()

[('rutu', 'Arenaria interpres'),
 ('dunl', 'Calidris alpina'),
 ('wrsa', 'Calidris fuscicollis'),
 ('sepl', 'Charadrius semipalmatus'),
 ('reph', 'Phalaropus fulicarius'),
 ('amgp', 'Pluvialis dominica'),
 ('bbpl', 'Pluvialis squatarola')]

### Step 2: After youâ€™ve connected to the database and created a cursor c, iterate over the species like so:
species_query = """SELECT Code, Scientific_name FROM..."""
for row in cur.execute(species_query).fetchall():  # DuckDB lame-o workaround
    species_code = row[0]
    scientific_name = row[1]
    # query egg data for that species (step 3)
    # compute statistics and print results (step 4)

In [25]:
species_query = """SELECT DISTINCT Code, Scientific_name FROM Species 
    INNER JOIN Bird_nests
    ON Species.Code = Bird_nests.Species
    INNER JOIN Bird_eggs
    ON Bird_eggs.Nest_ID = Bird_nests.Nest_ID
    ORDER BY Scientific_name"""

for row in cur.execute(species_query).fetchall():  # DuckDB lame-o workaround
    species_code = row[0]
    scientific_name = row[1]

### Step 3: You will need to construct a query that gathers egg data for a given species, one species at a time; the species code will be a parameter to that query.

In [28]:
# Define species query from above
egg_query = """SELECT Width*Width*Length AS Volume, Species FROM Bird_eggs
    JOIN Bird_nests
    ON Bird_eggs.Nest_ID = Bird_nests.Nest_ID
    WHERE Bird_nests.Species = ?"""

# Iterate over species
for row in cur.execute(species_query).fetchall():
    species_code = row[0]
    scientific_name = row[1]
    egg_query = egg_query
    df = pd.read_sql(egg_query, conn, params=[species_code])
    print(df)

          Volume Species
0   18129.257812    rutu
1   27114.382812    rutu
2   30465.349609    rutu
3   38728.300781    rutu
4   31784.414062    rutu
5   35203.085938    rutu
6   34760.351562    rutu
7   35976.867188    rutu
8   35303.023438    rutu
9   37496.710938    rutu
10  36470.546875    rutu
11  36400.875000    rutu
12  18129.257812    rutu
13  27114.382812    rutu
14  30465.349609    rutu
15  38728.300781    rutu
16  34270.027344    rutu
17  32679.935547    rutu
18  37211.968750    rutu
19  42001.929688    rutu
20  44033.710938    rutu
21  45660.441406    rutu
22  46688.285156    rutu
          Volume Species
0   22976.552734    dunl
1   23460.568359    dunl
2   23576.367188    dunl
3   23206.162109    dunl
4   23200.333984    dunl
5   23714.867188    dunl
6   19850.609375    dunl
7   20749.957031    dunl
8   22288.044922    dunl
9   22131.791016    dunl
10  22265.214844    dunl
          Volume Species
0   20778.173828    wrsa
1   20857.626953    wrsa
2   20141.640625    wrsa
3   39703.902344    wrsa
4   17922.460938    wrsa
5   18447.982422    wrsa
6   19956.257812    wrsa
7   20463.800781    wrsa
8   20514.232422    wrsa
9   21604.015625    wrsa
10  18913.347656    wrsa
11  19010.507812    wrsa
12  19590.443359    wrsa
13  19417.710938    wrsa
14  18323.167969    wrsa
15  19012.111328    wrsa
16  18704.279297    wrsa
17  18941.507812    wrsa
18  17671.980469    wrsa
19  17213.830078    wrsa
20  17632.089844    wrsa
21  19966.564453    wrsa
22  18384.048828    wrsa
23  17794.908203    wrsa
24  19120.263672    wrsa
25  18676.916016    wrsa
26  17915.720703    wrsa
27  19388.568359    wrsa
28  16111.461914    wrsa
29  16905.902344    wrsa
30  17216.199219    wrsa
31  17379.085938    wrsa
32  18475.794922    wrsa
33  19174.419922    wrsa
34  18670.677734    wrsa
35  19921.439453    wrsa
36  17276.283203    wrsa
37  18612.582031    wrsa
38  19236.544922    wrsa
39  19182.189453    wrsa
40  18419.755859    wrsa
41  18529.232422    wrsa
42  19693.439453    wrsa
43  19502.585938    wrsa
44  18614.062500    wrsa
45  19008.000000    wrsa
46  19584.000000    wrsa
           Volume Species
0    16836.818359    sepl
1    17232.726562    sepl
2    19228.296875    sepl
3    18786.355469    sepl
4    18581.949219    sepl
..            ...     ...
258  17846.888672    sepl
259  19204.785156    sepl
260  18395.349609    sepl
261  15506.790039    sepl
262  17876.416016    sepl

[263 rows x 2 columns]
          Volume Species
0   15369.409180    reph
1   16180.729492    reph
2   16287.629883    reph
3   16424.425781    reph
4   15313.947266    reph
5   15803.648438    reph
6   16130.244141    reph
7   16790.378906    reph
8   14816.875000    reph
9   15614.905273    reph
10  15803.517578    reph
11  15423.846680    reph
12  16291.520508    reph
13  17239.847656    reph
14  17073.154297    reph
15  17472.740234    reph
         Volume Species
0  42623.460938    amgp
1  46279.167969    amgp
2  53870.394531    amgp
3  49803.390625    amgp
4  50524.957031    amgp
5  52089.097656    amgp
6  55937.113281    amgp
7  53017.218750    amgp
8  58516.078125    amgp
9  82498.984375    amgp
          Volume Species
0   70019.492188    bbpl
1   69170.429688    bbpl
2   69156.460938    bbpl
3   67871.515625    bbpl
4   68314.945312    bbpl
5   72593.148438    bbpl
6   69591.406250    bbpl
7   68801.257812    bbpl
8   61784.035156    bbpl
9   60826.289062    bbpl
10  63847.167969    bbpl
11  63269.140625    bbpl
12  59412.500000    bbpl
13  64800.000000    bbpl
14  66744.000000    bbpl
15  71872.500000    bbpl
16  63984.792969    bbpl
17  62735.984375    bbpl
18  63149.914062    bbpl
19  74258.664062    bbpl
20  59318.109375    bbpl
21  60960.714844    bbpl
22  67013.531250    bbpl
23  66541.968750    bbpl
24  57195.398438    bbpl
25  61642.058594    bbpl
26  62993.000000    bbpl
27  63799.195312    bbpl
28  63227.347656    bbpl
29  60893.695312    bbpl
30  63143.644531    bbpl
31  65353.285156    bbpl
32  56359.355469    bbpl
33  57714.792969    bbpl
34  66045.546875    bbpl
35  71563.335938    bbpl

/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/716735640.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])
/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/716735640.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])
/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/716735640.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])
/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/716735640.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])
/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/716735640.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])
/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/716735640.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])
/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/716735640.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])

### Step 4: Finally, and still within your loop, youâ€™ll want to compute statistics and print out the results:

In [30]:
for row in cur.execute(species_query).fetchall():
    species_code = row[0]
    scientific_name = row[1]
    egg_query = egg_query
    df = pd.read_sql(egg_query, conn, params=[species_code])
    cv = round(df.Volume.std()/df.Volume.mean()*100, 2)
    print(f"{scientific_name} {cv}%")

Arenaria interpres 21.12%
Calidris alpina 5.46%
Calidris fuscicollis 16.77%
Charadrius semipalmatus 8.99%
Phalaropus fulicarius 4.65%
Pluvialis dominica 19.88%
Pluvialis squatarola 6.94%

/var/folders/gr/jlw8fkqn023fr8q1p0l6lpq80000gn/T/ipykernel_19461/425590428.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(egg_query, conn, params=[species_code])

In [32]:
# Close the connection
conn.close()